@model IEnumerable<HKOWebMVC4.ZanimanjeKompetencije_Result>

@{
    ViewBag.Title = "Kompetencije";
}

<h2>Kompetencije</h2>

<table id="kompetencije">
    <tr>
        <th>
            Kompetencija
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kompetencija)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
